<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user pare </title>
</head>
<body>

<#--"/addUser" должен совпадать с  UserController  методом   @PostMapping("/addUser")-->
<form name="user" action="/addUser" method="post">
    <p>Name</p>
    <input title="Name" type="text" name="name">
    <p>Email</p>
    <input title="Email" type="text" name="email">
    <p>Age</p>
    <input title="Age" type="text" name="age">
    <input type="submit" value="Ok">
</form>
<#--<a href="/users">Back</a> &lt;#&ndash;ссылка назад&ndash;&gt;-->

</body>
</html>