<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello page </title>
</head>
<body>
    <h1>I'm first templste</h1>

    <#--добавим link на наш списов всех user. Тут адрес должен совпадать с UserController  @GetMapping("/users") ...-->
    <a href="/users">go to Users</a>   <#--адрес должен совпадать с UserController  @GetMapping("/users") ...-->
</body>
</html>