<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization page </title>
</head>
<body>

<h1> Hello Yury!</h1>

<a href="/hello"> Hello page</a>
<!--ссылка будет вести на страницу hello -->

</body>
</html>